In [1]:
import pandas as pd

In [2]:
bd = pd.read_excel('USUARIOS_DEZEMBRO.xlsx')

In [3]:
desembarque = pd.read_excel('ListagemEmbarques-2019-12-08_2020-01-06.xlsx')

In [4]:
desembarque.head()

,Rota,Passageiro,Matrícula,Data,Embarque,Desembarque,Minutos Embarcado
0,INTEGRAÇÃO - 23:30 00:00 - LESTE,AURICELIO FEITOSA DE BRITO,243157.0,08/12/2019,00:10,00:23,2340
1,INTEGRAÇÃO - 2330 00:00 - TIMON,GUYLBERTH LUCAS ASSUNCAO DA SILVA,240132.0,08/12/2019,00:01,00:34,3000
2,INTEGRAÇÃO - 2330 00:00 - TIMON,FLAVIO KENNEDY SANTOS DA SILVA,226652.0,08/12/2019,00:01,00:22,2280
3,INTEGRAÇÃO - 2330 00:00 - TIMON,FRANCISCO CARLOS DA SILVA NETO,247718.0,08/12/2019,00:10,00:25,2460
4,ROTA LIVRE - KLEITON DINO,RICHARD SILVA CAMPOS,247706.0,08/12/2019,00:09,00:26,2640