In [1]:
import pandas as pd

In [2]:
bd = pd.read_excel("USUARIOS_DEZEMBRO.xlsx")

In [3]:
bd.set_index('matricula', inplace=True)

In [4]:
embarque = pd.read_excel('ListagemEmbarques-2019-12-08_2020-01-06.xlsx')

In [5]:
embarque.head()

,Rota,Passageiro,Matrícula,Data,Embarque,Desembarque,Minutos Embarcado
0,INTEGRAÇÃO - 23:30 00:00 - LESTE,AURICELIO FEITOSA DE BRITO,243157.0,08/12/2019,00:10,00:23,2340
1,INTEGRAÇÃO - 2330 00:00 - TIMON,GUYLBERTH LUCAS ASSUNCAO DA SILVA,240132.0,08/12/2019,00:01,00:34,3000
2,INTEGRAÇÃO - 2330 00:00 - TIMON,FLAVIO KENNEDY SANTOS DA SILVA,226652.0,08/12/2019,00:01,00:22,2280
3,INTEGRAÇÃO - 2330 00:00 - TIMON,FRANCISCO CARLOS DA SILVA NETO,247718.0,08/12/2019,00:10,00:25,2460
4,ROTA LIVRE - KLEITON DINO,RICHARD SILVA CAMPOS,247706.0,08/12/2019,00:09,00:26,2640

In [6]:
embarque.set_index('Matrícula', inplace=True)

In [7]:
embarque = embarque.dropna(axis='index')

In [8]:
embarque = embarque[embarque.index.notnull()]

In [9]:
embarque.index = embarque.index.astype(int)

In [10]:
rotas = embarque['Rota']

In [11]:
datas = embarque['Data']

In [12]:
rotas = rotas.to_dict()
datas = datas.to_dict()

In [13]:
bd['data'] = bd.index.map(datas)
bd['rotas'] = bd.index.map(rotas)

In [14]:
bd.to_excel('aaaaa.xlsx')