In [1]:
import pandas as pd
from datetime import date
import random
from decimal import Decimal
from math import isnan

In [2]:
motoristas = pd.read_excel('motoristas.xlsx')
folga = pd.read_excel('folga_semanal.xlsx')

df = pd.read_excel('rotas escalas1.xlsx', sheet_name='Plan1')
veiculos = pd.read_excel('rotas escalas1.xlsx', sheet_name='Plan2')

df_1 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Domingo']]
df_2 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Segunda-feira']]
df_3 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Terça-feira']]
df_4 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Quarta-feira']]
df_5 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Quinta-feira']]
df_6 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Sexta-feira']]
df_7 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Sábado']]

motoristas = list(motoristas['MOTORISTAS'])

carga = {}

In [3]:
veiculos = veiculos.to_dict('list')
import simplejson
veiculos  = simplejson.loads(simplejson.dumps(veiculos, ignore_nan=True))

In [4]:
for l in veiculos.values():
    if 0 in l: l.remove(0)    
    for l in veiculos.values():
        if 0 in l: l.remove(0)

print(veiculos)

{'Ducato 1': ['Valdeci', 'Paulo Henrique', 'Jeferson'], 'Ducato 2': ['Jackson', 'Raulino', 'Edvaldo', 'Jeferson'], 'Jumpy': ['Paulo Henrique', 'Adoniran', 'Welison'], 'QNB 5540 ': ['Jeferson', 'Welison', 'Paulo Henrique'], 'QNK 7462': ['Jeferson', 'Welison', 'Valdeci'], 'Mercedes ': ['Raulino', 'Jackson', 'Adoniran'], 'Lalita': ['Leonardo']}

In [5]:
import numpy as np
def setdiff_sorted(array1,array2,assume_unique=False):
    ans = np.setdiff1d(array1,array2,assume_unique).tolist()
    if assume_unique:
        return sorted(ans)
    return ans

def common_elements(list1, list2):
    result = []
    for element in list1:
        if element in list2:
            result.append(element)
    return result

In [6]:


tentativa = False

while not tentativa:
    
    domingo_n = []
    domingo_m = []
    domingo_t = []
    folga_domingo = list(folga['DOMINGO'])
    
    for indice, dado in enumerate(df_1['Domingo']):

        if type(df_1['Domingo'][indice]) != str:

            valor = float(df['Domingo'][indice])
            turno = df['TURNO'][indice]
            carro = df['VEÍCULO'][indice]
            cliente = df['ROTAS'][indice]
            motoristas = list(veiculos[carro])
            motoristas_domingo = setdiff_sorted(motoristas, folga_domingo)

            if turno == 'noite':
                    try:

                        motora = df_1['Domingo'][indice] = random.choice(setdiff_sorted(motoristas_domingo, domingo_n))
                        domingo_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_1['Domingo'][indice] = random.choice(setdiff_sorted(motoristas_domingo, domingo_n))
                        domingo_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                        

            if turno == 'manhã':
                common_domingo = common_elements(domingo_n, motoristas_domingo)

                motora = df_1['Domingo'][indice] = random.choice(setdiff_sorted(common_domingo, domingo_m))
                domingo_m.append(motora)
                if motora in carga:
                    total = carga[motora]
                    total += valor
                    carga[motora] = total


            if turno == 'tarde':
                if cliente == 'MAGALU TARDE 01':
                    try:
                        lista = setdiff_sorted(motoristas_domingo, domingo_n)

                        motora = df_1['Domingo'][indice] = random.choice(lista)
                        tentativa = True
                        
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_1['Domingo'][indice] = 'MAICON'
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                            
                        tentativa = True
                    
                else:

                    lista = setdiff_sorted(motoristas_domingo, domingo_m)
                    motora = df_1['Domingo'][indice] = random.choice(lista)
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

#                     while carga[motora] > 10.5:
#                         print(lista)
#                         total = carga[motora]
#                         total -= valor
#                         carga[motora] = total
#                         lista.remove(motora)
#                         print('+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
#                         print(lista)
#                         motora = df_1['Domingo'][indice] = random.choice(lista)

#                         if motora not in carga:
#                             carga[motora] = []
#                             carga[motora]= valor
#                         else:
#                             total = carga[motora]
#                             total += valor
#                             carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_1

                   ROTAS  TURNO    VEÍCULO         Domingo
0           ALMA VIVA 01  noite   Ducato 1        Jeferson
1           ALMA VIVA 02  noite   Ducato 2         Jackson
2           ALMA VIVA 03  noite      Jumpy        Adoniran
3           ALMA VIVA 04  noite  QNB 5540          Welison
4           ALMA VIVA 05  noite   QNK 7462         Valdeci
5           ALMA VIVA 06  noite  Mercedes          Raulino
6   CROWN TURNO MANHÃ 01  manhã   Ducato 1        Jeferson
7   CROWN TURNO MANHÃ 02  manhã   Ducato 2         Jackson
8     CROWN ADM MANHÃ 01  manhã  Mercedes          Raulino
9   CROWN TURNO TARDE 01  tarde   Ducato 1               n
10  CROWN TURNO TARDE 02  tarde   Ducato 2               n
11    CROWN ADM TARDE 01  tarde  Mercedes                n
12       MAGALU TARDE 01  tarde      Jumpy  Paulo Henrique

In [8]:
veiculos

{'Ducato 1': ['Valdeci', 'Paulo Henrique', 'Jeferson'],
 'Ducato 2': ['Jackson', 'Raulino', 'Edvaldo', 'Jeferson'],
 'Jumpy': ['Paulo Henrique', 'Adoniran', 'Welison'],
 'QNB 5540 ': ['Jeferson', 'Welison', 'Paulo Henrique'],
 'QNK 7462': ['Jeferson', 'Welison', 'Valdeci'],
 'Mercedes ': ['Raulino', 'Jackson', 'Adoniran'],
 'Lalita': ['Leonardo']}

In [9]:
carga

{'Jeferson': 10.5,
 'Jackson': 10.5,
 'Adoniran': 5.5,
 'Welison': 5.5,
 'Valdeci': 5.5,
 'Raulino': 8.5,
 'Paulo Henrique': 5.5}

In [10]:

tentativa = False

while not tentativa:
    
    segunda_n = []
    segunda_m = []
    segunda_t = []
    folga_segunda = list(folga['SEGUNDA'])
    
    for indice, dado in enumerate(df_2['Segunda-feira']):

        if type(df_2['Segunda-feira'][indice]) != str:

            valor = float(df['Segunda-feira'][indice])
            turno = df['TURNO'][indice]
            carro = df['VEÍCULO'][indice]
            cliente = df['ROTAS'][indice]
            motoristas = list(veiculos[carro])
            motoristas_segunda = setdiff_sorted(motoristas, folga_segunda)

            if turno == 'noite':
                    try:

                        motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(motoristas_segunda, segunda_n))
                        segunda_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(motoristas_segunda, segunda_n))
                        segunda_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                        

            if turno == 'manhã':
                common_segunda = common_elements(segunda_n, motoristas_segunda)

                motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(common_segunda, segunda_m))
                segunda_m.append(motora)
                if motora in carga:
                    total = carga[motora]
                    total += valor
                    carga[motora] = total


            if turno == 'tarde':
                if cliente == 'MAGALU TARDE 01':
                    try:
                        lista = setdiff_sorted(motoristas_segunda, segunda_n)

                        motora = df_2['Segunda-feira'][indice] = random.choice(lista)
                        tentativa = True
                        
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_2['Segunda-feira'][indice] = 'MAICON'
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                            
                        tentativa = True
                    
                else:

                    lista = setdiff_sorted(motoristas_segunda, segunda_m)
                    motora = df_2['Segunda-feira'][indice] = random.choice(lista)
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
df_2

                   ROTAS  TURNO    VEÍCULO   Segunda-feira
0           ALMA VIVA 01  noite   Ducato 1        Jeferson
1           ALMA VIVA 02  noite   Ducato 2         Edvaldo
2           ALMA VIVA 03  noite      Jumpy        Adoniran
3           ALMA VIVA 04  noite  QNB 5540          Welison
4           ALMA VIVA 05  noite   QNK 7462         Valdeci
5           ALMA VIVA 06  noite  Mercedes          Raulino
6   CROWN TURNO MANHÃ 01  manhã   Ducato 1         Valdeci
7   CROWN TURNO MANHÃ 02  manhã   Ducato 2        Jeferson
8     CROWN ADM MANHÃ 01  manhã  Mercedes         Adoniran
9   CROWN TURNO TARDE 01  tarde   Ducato 1  Paulo Henrique
10  CROWN TURNO TARDE 02  tarde   Ducato 2         Jackson
11    CROWN ADM TARDE 01  tarde  Mercedes          Raulino
12       MAGALU TARDE 01  tarde      Jumpy  Paulo Henrique

In [12]:
carga

{'Jeferson': 21.0,
 'Jackson': 15.0,
 'Adoniran': 14.0,
 'Welison': 11.0,
 'Valdeci': 16.0,
 'Raulino': 17.5,
 'Paulo Henrique': 15.5,
 'Edvaldo': 5.5}

In [13]:
tentativa = False
while not tentativa:
    
    terça_n = []
    terça_m = []
    terça_t = []
    folga_terça = list(folga['TERÇA'])
    
    for indice, dado in enumerate(df_3['Terça-feira']):

        if type(df_3['Terça-feira'][indice]) != str:

            valor = float(df['Terça-feira'][indice])
            turno = df['TURNO'][indice]
            carro = df['VEÍCULO'][indice]
            cliente = df['ROTAS'][indice]
            motoristas = list(veiculos[carro])
            motoristas_terça = setdiff_sorted(motoristas, folga_terça)

            if turno == 'noite':
                    try:

                        motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(motoristas_terça, terça_n))
                        terça_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(motoristas_terça, terça_n))
                        terça_n.append(motora)

                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                        

            if turno == 'manhã':
                common_terça = common_elements(terça_n, motoristas_terça)

                motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(common_terça, terça_m))
                terça_m.append(motora)
                if motora in carga:
                    total = carga[motora]
                    total += valor
                    carga[motora] = total


            if turno == 'tarde':
                if cliente == 'MAGALU TARDE 01':
                    try:
                        lista = setdiff_sorted(motoristas_terça, terça_n)

                        motora = df_3['Terça-feira'][indice] = random.choice(lista)
                        tentativa = True
                        
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                    except:
                        motora = df_3['Terça-feira'][indice] = 'MAICON'
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                            
                        tentativa = True
                    
                else:

                    lista = setdiff_sorted(motoristas_terça, terça_m)
                    motora = df_3['Terça-feira'][indice] = random.choice(lista)
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

In [14]:
df_3

                   ROTAS  TURNO    VEÍCULO     Terça-feira
0           ALMA VIVA 01  noite   Ducato 1        Jeferson
1           ALMA VIVA 02  noite   Ducato 2         Raulino
2           ALMA VIVA 03  noite      Jumpy        Adoniran
3           ALMA VIVA 04  noite  QNB 5540          Welison
4           ALMA VIVA 05  noite   QNK 7462         Valdeci
5           ALMA VIVA 06  noite  Mercedes          Jackson
6   CROWN TURNO MANHÃ 01  manhã   Ducato 1         Valdeci
7   CROWN TURNO MANHÃ 02  manhã   Ducato 2         Jackson
8     CROWN ADM MANHÃ 01  manhã  Mercedes          Raulino
9   CROWN TURNO TARDE 01  tarde   Ducato 1  Paulo Henrique
10  CROWN TURNO TARDE 02  tarde   Ducato 2         Edvaldo
11    CROWN ADM TARDE 01  tarde  Mercedes         Adoniran
12       MAGALU TARDE 01  tarde      Jumpy  Paulo Henrique

In [15]:
carga

{'Jeferson': 26.5,
 'Jackson': 25.5,
 'Adoniran': 23.0,
 'Welison': 16.5,
 'Valdeci': 26.5,
 'Raulino': 26.0,
 'Paulo Henrique': 25.5,
 'Edvaldo': 10.0}