In [1]:
import pandas as pd
from datetime import date
import random
from decimal import Decimal

In [2]:
dias = tuple(range(1, 8))
diasDaSemana = ('Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado')
mes = []
mesAtual = 4

for dia in dias:
    hoje = date(2020, mesAtual, dia)
    mes.append([dia, diasDaSemana[hoje.weekday()]])

domingos = []
for dia in mes:
    if dia[1] == 'Domingo':
        domingos.append(dia[0])

In [3]:
############################## Criação da Base de Dados
rotas = ['ALMA VIVA 01', 'ALMA VIVA 02', 'ALMA VIVA 03', 'ALMA VIVA 04', 'ALMA VIVA 05', 'ALMA VIVA 06', 'ALMA VIVA 07',
         'CROWN TURNO MANHÃ 01', 'CROWN TURNO MANHÃ 02', 'CROWN ADM MANHÃ 01', 'CROWN ADM MANHÃ 02',
         'CROWN TURNO TARDE 01', 'CROWN TURNO TARDE 02', 'CROWN ADM TARDE 01', 'CROWN ADM TARDE 02', 'MAGALU TARDE 01']

motoristas = pd.read_excel('motoristas.xlsx')
folga = pd.read_excel('folga_semanal.xlsx')
turno = ['noite', 'noite', 'noite', 'noite', 'noite', 'noite', 'noite', 'manhã', 'manhã', 'manhã', 'manhã', 
         'tarde', 'tarde', 'tarde', 'tarde', 'tarde']

sem_escala = Decimal(float('nan'))
dia_01 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 0, 0, 0, 0, 5.5]
dia_02 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_03 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_04 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_05 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_06 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 0, 0, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_07 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 0, 0, 0, 0, 0, 0, 0]


d = {'ROTAS': rotas, 'TURNO': turno, 'Domingo': dia_01, 'Segunda-feira': dia_02, 'Terça-feira': dia_03, 
     'Quarta-feira': dia_04, 'Quinta-feira': dia_05, 'Sexta-feira': dia_06, 'Sábado': dia_07}

df = pd.DataFrame(data=d)

df_1 = df[['ROTAS', 'TURNO', 'Domingo']]
df_2 = df[['ROTAS', 'TURNO', 'Segunda-feira']]
df_3 = df[['ROTAS', 'TURNO', 'Terça-feira']]
df_4 = df[['ROTAS', 'TURNO', 'Quarta-feira']]
df_5 = df[['ROTAS', 'TURNO', 'Quinta-feira']]
df_6 = df[['ROTAS', 'TURNO', 'Sexta-feira']]
df_7 = df[['ROTAS', 'TURNO', 'Sábado']]

motoristas = list(motoristas['MOTORISTAS'])

carga = {}

In [4]:
import numpy as np
def setdiff_sorted(array1,array2,assume_unique=False):
    ans = np.setdiff1d(array1,array2,assume_unique).tolist()
    if assume_unique:
        return sorted(ans)
    return ans

In [5]:
domingo_n = []
domingo_m = []
domingo_t = []

folga_domingo = list(folga['DOMINGO'])
motoristas_domingo = setdiff_sorted(motoristas, folga_domingo)

for indice, dado in enumerate(df_1['Domingo']):

    if df_1['Domingo'][indice] > 0:

        valor = float(df['Domingo'][indice]) 
        turno = df['TURNO'][indice]



        if turno == 'noite':
            motora = df_1['Domingo'][indice] = random.choice(setdiff_sorted(motoristas_domingo, domingo_n))
            domingo_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_1['Domingo'][indice] = random.choice(setdiff_sorted(domingo_n, domingo_m))
            domingo_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            
            lista = setdiff_sorted(motoristas_domingo, domingo_m, assume_unique=True)
            
            
                
            motora = df_1['Domingo'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total
                
                while carga[motora] > 10.5:
                    print('OPA!!!!!!!!')
                    total = carga[motora]
                    total -= valor
                    carga[motora] = total
                    lista.remove(motora)
                    motora = df_1['Domingo'][indice] = random.choice(lista)
                    
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_1

                   ROTAS  TURNO     Domingo
0           ALMA VIVA 01  noite    JEFERSON
1           ALMA VIVA 02  noite     VALDECI
2           ALMA VIVA 03  noite    WELISSON
3           ALMA VIVA 04  noite  GESSIVALDO
4           ALMA VIVA 05  noite    EDIVALDO
5           ALMA VIVA 06  noite     JACKSON
6           ALMA VIVA 07  noite     RAULINO
7   CROWN TURNO MANHÃ 01  manhã    WELISSON
8   CROWN TURNO MANHÃ 02  manhã     JACKSON
9     CROWN ADM MANHÃ 01  manhã    JEFERSON
10    CROWN ADM MANHÃ 02  manhã     VALDECI
11  CROWN TURNO TARDE 01  tarde           0
12  CROWN TURNO TARDE 02  tarde           0
13    CROWN ADM TARDE 01  tarde           0
14    CROWN ADM TARDE 02  tarde           0
15       MAGALU TARDE 01  tarde    FERNANDO

In [7]:
carga

{'JEFERSON': 8.5,
 'VALDECI': 8.5,
 'WELISSON': 10.5,
 'GESSIVALDO': 5.5,
 'EDIVALDO': 5.5,
 'JACKSON': 10.5,
 'RAULINO': 5.5,
 'FERNANDO': 5.5}

In [8]:
segunda_n = []
segunda_m = []
segunda_t = []

folga_segunda = list(folga['SEGUNDA'])
motoristas_segunda = setdiff_sorted(motoristas, folga_segunda)

for indice, dado in enumerate(df_2['Segunda-feira']):

    if df_2['Segunda-feira'][indice] > 0:

        valor = float(df_2['Segunda-feira'][indice]) 
        turno = df_2['TURNO'][indice]



        if turno == 'noite':
            motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(motoristas_segunda, segunda_n))
            segunda_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(segunda_n, segunda_m))
            segunda_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_segunda, segunda_m, assume_unique=True)
            motora = df_2['Segunda-feira'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total
                
                while carga[motora] > 21:
                    print('OPA!!!!!!!!')
                    total = carga[motora]
                    total -= valor
                    carga[motora] = total
                    lista.remove(motora)
                    motora = df_1['Domingo'][indice] = random.choice(lista)
                    
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
df_2

                   ROTAS  TURNO Segunda-feira
0           ALMA VIVA 01  noite      EDIVALDO
1           ALMA VIVA 02  noite     WANDERLAN
2           ALMA VIVA 03  noite       VALDECI
3           ALMA VIVA 04  noite  LUIZ GONZAGA
4           ALMA VIVA 05  noite       RAULINO
5           ALMA VIVA 06  noite         PAULO
6           ALMA VIVA 07  noite      WELISSON
7   CROWN TURNO MANHÃ 01  manhã      WELISSON
8   CROWN TURNO MANHÃ 02  manhã         PAULO
9     CROWN ADM MANHÃ 01  manhã  LUIZ GONZAGA
10    CROWN ADM MANHÃ 02  manhã       VALDECI
11  CROWN TURNO TARDE 01  tarde      JEFERSON
12  CROWN TURNO TARDE 02  tarde       RAULINO
13    CROWN ADM TARDE 01  tarde        KELSON
14    CROWN ADM TARDE 02  tarde        MAICON
15       MAGALU TARDE 01  tarde      EDIVALDO

In [10]:
carga

{'JEFERSON': 13.0,
 'VALDECI': 17.0,
 'WELISSON': 21.0,
 'GESSIVALDO': 5.5,
 'EDIVALDO': 16.5,
 'JACKSON': 10.5,
 'RAULINO': 15.5,
 'FERNANDO': 5.5,
 'WANDERLAN': 5.5,
 'LUIZ GONZAGA': 8.5,
 'PAULO': 10.5,
 'KELSON': 3.5,
 'MAICON': 3.5}

In [11]:
terça_n = []
terça_m = []
terça_t = []

remover = []
for each in carga:
    if carga[each] > 21:
        remover.append(each)
        
folga_terça = list(folga['TERÇA'])
motoristas_terça = setdiff_sorted(motoristas, folga_terça)
motoristas_terça = setdiff_sorted(motoristas_terça, remover)

for indice, dado in enumerate(df_3['Terça-feira']):

    if df_3['Terça-feira'][indice] > 0:

        valor = float(df_3['Terça-feira'][indice]) 
        turno = df_3['TURNO'][indice]



        if turno == 'noite':
            motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(motoristas_terça, terça_n))
            terça_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(terça_n, terça_m))
            terça_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_terça, terça_m, assume_unique=True)
            motora = df_3['Terça-feira'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total
                
                while carga[motora] > 31.5:
                    print('OPA!!!!!!!!')
                    total = carga[motora]
                    total -= valor
                    carga[motora] = total
                    lista.remove(motora)
                    motora = df_1['Domingo'][indice] = random.choice(lista)
                    
                    if motora not in carga:
                        carga[motora] = []
                        carga[motora]= valor
                    else:
                        total = carga[motora]
                        total += valor
                        carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
df_3

                   ROTAS  TURNO   Terça-feira
0           ALMA VIVA 01  noite         PAULO
1           ALMA VIVA 02  noite        MAICON
2           ALMA VIVA 03  noite       RAULINO
3           ALMA VIVA 04  noite     WANDERLAN
4           ALMA VIVA 05  noite    GESSIVALDO
5           ALMA VIVA 06  noite  LUIZ GONZAGA
6           ALMA VIVA 07  noite        KELSON
7   CROWN TURNO MANHÃ 01  manhã       RAULINO
8   CROWN TURNO MANHÃ 02  manhã         PAULO
9     CROWN ADM MANHÃ 01  manhã        KELSON
10    CROWN ADM MANHÃ 02  manhã  LUIZ GONZAGA
11  CROWN TURNO TARDE 01  tarde       JACKSON
12  CROWN TURNO TARDE 02  tarde    GESSIVALDO
13    CROWN ADM TARDE 01  tarde        MAICON
14    CROWN ADM TARDE 02  tarde        MAICON
15       MAGALU TARDE 01  tarde      JEFERSON

In [13]:
carga

{'JEFERSON': 18.5,
 'VALDECI': 17.0,
 'WELISSON': 21.0,
 'GESSIVALDO': 15.5,
 'EDIVALDO': 16.5,
 'JACKSON': 15.0,
 'RAULINO': 26.0,
 'FERNANDO': 5.5,
 'WANDERLAN': 11.0,
 'LUIZ GONZAGA': 17.0,
 'PAULO': 21.0,
 'KELSON': 12.0,
 'MAICON': 16.0}

In [14]:
quarta_n = []
quarta_m = []
quarta_t = []

remover = []
for each in carga:
    if carga[each] > 28:
        remover.append(each)
        
        
folga_quarta = list(folga['QUARTA'])
motoristas_quarta = setdiff_sorted(motoristas, folga_quarta)
motoristas_quarta = setdiff_sorted(motoristas_quarta, remover)
for indice, dado in enumerate(df_4['Quarta-feira']):

    if df_4['Quarta-feira'][indice] > 0:

        valor = float(df_4['Quarta-feira'][indice]) 
        turno = df_4['TURNO'][indice]



        if turno == 'noite':
            motora = df_4['Quarta-feira'][indice] = random.choice(setdiff_sorted(motoristas_quarta, quarta_n))
            quarta_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_4['Quarta-feira'][indice] = random.choice(setdiff_sorted(quarta_n, quarta_m))
            quarta_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_quarta, quarta_m, assume_unique=True)
            motora = df_4['Quarta-feira'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\numpy\lib\arraysetops.py:565: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
df_4

                   ROTAS  TURNO  Quarta-feira
0           ALMA VIVA 01  noite      WELISSON
1           ALMA VIVA 02  noite        KELSON
2           ALMA VIVA 03  noite      EDIVALDO
3           ALMA VIVA 04  noite  LUIZ GONZAGA
4           ALMA VIVA 05  noite       RAULINO
5           ALMA VIVA 06  noite      FERNANDO
6           ALMA VIVA 07  noite      JEFERSON
7   CROWN TURNO MANHÃ 01  manhã      WELISSON
8   CROWN TURNO MANHÃ 02  manhã      JEFERSON
9     CROWN ADM MANHÃ 01  manhã      EDIVALDO
10    CROWN ADM MANHÃ 02  manhã       RAULINO
11  CROWN TURNO TARDE 01  tarde  LUIZ GONZAGA
12  CROWN TURNO TARDE 02  tarde  LUIZ GONZAGA
13    CROWN ADM TARDE 01  tarde         PAULO
14    CROWN ADM TARDE 02  tarde     WANDERLAN
15       MAGALU TARDE 01  tarde    GESSIVALDO

In [16]:
carga

{'JEFERSON': 29.0,
 'VALDECI': 17.0,
 'WELISSON': 31.5,
 'GESSIVALDO': 21.0,
 'EDIVALDO': 25.0,
 'JACKSON': 15.0,
 'RAULINO': 34.5,
 'FERNANDO': 11.0,
 'WANDERLAN': 14.5,
 'LUIZ GONZAGA': 31.5,
 'PAULO': 24.5,
 'KELSON': 17.5,
 'MAICON': 16.0}

In [17]:
quinta_n = []
quinta_m = []
quinta_t = []

remover = []
for each in carga:
    if carga[each] > 30:
        remover.append(each)
        

folga_quinta = list(folga['QUINTA'])
motoristas_quinta = setdiff_sorted(motoristas, folga_quinta)
motoristas_quinta = setdiff_sorted(motoristas_quinta, remover)

for indice, dado in enumerate(df_5['Quinta-feira']):

    if df_5['Quinta-feira'][indice] > 0:

        valor = float(df_5['Quinta-feira'][indice]) 
        turno = df_5['TURNO'][indice]



        if turno == 'noite':
            motora = df_5['Quinta-feira'][indice] = random.choice(setdiff_sorted(motoristas_quinta, quinta_n))
            quinta_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_5['Quinta-feira'][indice] = random.choice(setdiff_sorted(quinta_n, quinta_m))
            quinta_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_quinta, quinta_m, assume_unique=True)
            motora = df_5['Quinta-feira'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\numpy\lib\arraysetops.py:565: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
df_5

                   ROTAS  TURNO Quinta-feira
0           ALMA VIVA 01  noite     FERNANDO
1           ALMA VIVA 02  noite       KELSON
2           ALMA VIVA 03  noite      JACKSON
3           ALMA VIVA 04  noite       MAICON
4           ALMA VIVA 05  noite   GESSIVALDO
5           ALMA VIVA 06  noite        PAULO
6           ALMA VIVA 07  noite     EDIVALDO
7   CROWN TURNO MANHÃ 01  manhã     EDIVALDO
8   CROWN TURNO MANHÃ 02  manhã     FERNANDO
9     CROWN ADM MANHÃ 01  manhã   GESSIVALDO
10    CROWN ADM MANHÃ 02  manhã       KELSON
11  CROWN TURNO TARDE 01  tarde       MAICON
12  CROWN TURNO TARDE 02  tarde       MAICON
13    CROWN ADM TARDE 01  tarde      VALDECI
14    CROWN ADM TARDE 02  tarde     JEFERSON
15       MAGALU TARDE 01  tarde       MAICON

In [19]:
carga

{'JEFERSON': 32.5,
 'VALDECI': 20.5,
 'WELISSON': 31.5,
 'GESSIVALDO': 29.5,
 'EDIVALDO': 35.5,
 'JACKSON': 20.5,
 'RAULINO': 34.5,
 'FERNANDO': 21.5,
 'WANDERLAN': 14.5,
 'LUIZ GONZAGA': 31.5,
 'PAULO': 30.0,
 'KELSON': 26.0,
 'MAICON': 36.0}

In [20]:
sexta_n = []
sexta_m = []
sexta_t = []

remover = []
for each in carga:
    if carga[each] > 35:
        remover.append(each)
        
folga_sexta = list(folga['SEXTA'])
motoristas_sexta = setdiff_sorted(motoristas, folga_sexta)
motoristas_sexta = setdiff_sorted(motoristas_sexta, remover)


for indice, dado in enumerate(df_6['Sexta-feira']):

    if df_6['Sexta-feira'][indice] > 0:

        valor = float(df_6['Sexta-feira'][indice]) 
        turno = df_6['TURNO'][indice]



        if turno == 'noite':
            motora = df_6['Sexta-feira'][indice] = random.choice(setdiff_sorted(motoristas_sexta, sexta_n))
            sexta_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_6['Sexta-feira'][indice] = random.choice(setdiff_sorted(sexta_n, sexta_m))
            sexta_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_sexta, sexta_m, assume_unique=True)
            motora = df_6['Sexta-feira'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\numpy\lib\arraysetops.py:565: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
df_6

                   ROTAS  TURNO Sexta-feira
0           ALMA VIVA 01  noite    WELISSON
1           ALMA VIVA 02  noite     JACKSON
2           ALMA VIVA 03  noite     RAULINO
3           ALMA VIVA 04  noite      KELSON
4           ALMA VIVA 05  noite  GESSIVALDO
5           ALMA VIVA 06  noite    JEFERSON
6           ALMA VIVA 07  noite       PAULO
7   CROWN TURNO MANHÃ 01  manhã    WELISSON
8   CROWN TURNO MANHÃ 02  manhã     RAULINO
9     CROWN ADM MANHÃ 01  manhã           0
10    CROWN ADM MANHÃ 02  manhã           0
11  CROWN TURNO TARDE 01  tarde     JACKSON
12  CROWN TURNO TARDE 02  tarde    JEFERSON
13    CROWN ADM TARDE 01  tarde     VALDECI
14    CROWN ADM TARDE 02  tarde      KELSON
15       MAGALU TARDE 01  tarde    JEFERSON

In [22]:
carga

{'JEFERSON': 48.0,
 'VALDECI': 24.0,
 'WELISSON': 42.0,
 'GESSIVALDO': 35.0,
 'EDIVALDO': 35.5,
 'JACKSON': 30.5,
 'RAULINO': 45.0,
 'FERNANDO': 21.5,
 'WANDERLAN': 14.5,
 'LUIZ GONZAGA': 31.5,
 'PAULO': 35.5,
 'KELSON': 35.0,
 'MAICON': 36.0}

In [23]:
sabado_n = []
sabado_m = []
sabado_t = []

remover = []
for each in carga:
    if carga[each] > 40:
        remover.append(each)
        
folga_sabado = list(folga['SABADO'])
motoristas_sabado = setdiff_sorted(motoristas, folga_sabado)
motoristas_sabado = setdiff_sorted(motoristas_sabado,remover)

for indice, dado in enumerate(df_7['Sábado']):

    if df_7['Sábado'][indice] > 0:

        valor = float(df_7['Sábado'][indice]) 
        turno = df_7['TURNO'][indice]



        if turno == 'noite':
            motora = df_7['Sábado'][indice] = random.choice(setdiff_sorted(motoristas_sabado, sabado_n))
            sabado_n.append(motora)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

        if turno == 'manhã':
            motora = df_7['Sábado'][indice] = random.choice(setdiff_sorted(sabado_n, sabado_m))
            sabado_m.append(motora)
            if motora in carga:
                total = carga[motora]
                total += valor
                carga[motora] = total


        if turno == 'tarde':
            lista = setdiff_sorted(motoristas_sabado, sabado_m, assume_unique=True)
            motora = df_7['Sábado'][indice] = random.choice(lista)

            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\numpy\lib\arraysetops.py:565: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
df_7

                   ROTAS  TURNO     Sábado
0           ALMA VIVA 01  noite    JACKSON
1           ALMA VIVA 02  noite   EDIVALDO
2           ALMA VIVA 03  noite  WANDERLAN
3           ALMA VIVA 04  noite    VALDECI
4           ALMA VIVA 05  noite     MAICON
5           ALMA VIVA 06  noite     KELSON
6           ALMA VIVA 07  noite      PAULO
7   CROWN TURNO MANHÃ 01  manhã   EDIVALDO
8   CROWN TURNO MANHÃ 02  manhã     KELSON
9     CROWN ADM MANHÃ 01  manhã          0
10    CROWN ADM MANHÃ 02  manhã          0
11  CROWN TURNO TARDE 01  tarde          0
12  CROWN TURNO TARDE 02  tarde          0
13    CROWN ADM TARDE 01  tarde          0
14    CROWN ADM TARDE 02  tarde          0
15       MAGALU TARDE 01  tarde          0

In [25]:
carga

{'JEFERSON': 48.0,
 'VALDECI': 29.5,
 'WELISSON': 42.0,
 'GESSIVALDO': 35.0,
 'EDIVALDO': 46.0,
 'JACKSON': 36.0,
 'RAULINO': 45.0,
 'FERNANDO': 21.5,
 'WANDERLAN': 20.0,
 'LUIZ GONZAGA': 31.5,
 'PAULO': 41.0,
 'KELSON': 45.5,
 'MAICON': 41.5}

In [26]:
remover = []
for each in carga:
    if carga[each] > 44:
        remover.append(each)

In [27]:
remover

['JEFERSON', 'EDIVALDO', 'RAULINO', 'KELSON']

In [34]:
escala_semanal = df_1

In [40]:
escala_semanal = df_1
escala_semanal['Segunda-feira'] = df_2['Segunda-feira']
escala_semanal['Terça-feira'] = df_3['Terça-feira']
escala_semanal['Quarta-feira'] = df_4['Quarta-feira']
escala_semanal['Quinta-feira'] = df_5['Quinta-feira']
escala_semanal['Sexta-feira'] = df_6['Sexta-feira']
escala_semanal['Sábado'] = df_7['Sábado']
escala_semanal.to_excel('escala_motoristas.xlsx')

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy