In [1]:
import pandas as pd
from datetime import date

# CALENDÁRIO

In [2]:
dias = tuple(range(1, 8))
diasDaSemana = ('Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo')
mes = []
mesAtual = 4

for dia in dias:
    hoje = date(2020, mesAtual, dia)
    mes.append([dia, diasDaSemana[hoje.weekday()]])

domingos = []
for dia in mes:
    if dia[1] == 'Domingo':
        domingos.append(dia[0])

# Criação da Base de Dados

In [3]:
rotas = ['ALMA VIVA 01', 'ALMA VIVA 02', 'ALMA VIVA 03', 'ALMA VIVA 04', 'ALMA VIVA 05', 'ALMA VIVA 06', 'ALMA VIVA 07',
         'CROWN TURNO MANHÃ 01', 'CROWN TURNO MANHÃ 02', 'CROWN ADM MANHÃ 01', 'CROWN ADM MANHÃ 02', 'CROWN TURNO TARDE 01',
         'CROWN TURNO TARDE 02', 'CROWN ADM TARDE 01', 'CROWN ADM TARDE 02', 'MAGALU TARDE 01']

motoristas = pd.read_excel('motoristas.xlsx')

turno = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3]


dia_01 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 0, 0, 0, 0, 5.5]
dia_02 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_03 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_04 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_05 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 3, 3, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_06 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 0, 0, 4.5, 4.5, 3.5, 3.5, 5.5]
dia_07 = [5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5, 5, 0, 0, 0, 0, 0, 0, 0]


d = {'ROTAS': rotas, 'TURNO': turno, 1: dia_01, 2: dia_02, 3: dia_03, 4: dia_04, 5: dia_05, 6: dia_06, 7: dia_07}

df = pd.DataFrame(data=d)
df

                   ROTAS  TURNO    1    2    3    4    5    6    7
0           ALMA VIVA 01      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
1           ALMA VIVA 02      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
2           ALMA VIVA 03      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
3           ALMA VIVA 04      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
4           ALMA VIVA 05      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
5           ALMA VIVA 06      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
6           ALMA VIVA 07      1  5.5  5.5  5.5  5.5  5.5  5.5  5.5
7   CROWN TURNO MANHÃ 01      2  5.0  5.0  5.0  5.0  5.0  5.0  5.0
8   CROWN TURNO MANHÃ 02      2  5.0  5.0  5.0  5.0  5.0  5.0  5.0
9     CROWN ADM MANHÃ 01      2  3.0  3.0  3.0  3.0  3.0  0.0  0.0
10    CROWN ADM MANHÃ 02      2  3.0  3.0  3.0  3.0  3.0  0.0  0.0
11  CROWN TURNO TARDE 01      3  0.0  4.5  4.5  4.5  4.5  4.5  0.0
12  CROWN TURNO TARDE 02      3  0.0  4.5  4.5  4.5  4.5  4.5  0.0
13    CROWN ADM TARDE 01      3  0.0  3.5  3.5  3.5  3.5  3.5  0.0
14    CROWN ADM TARDE 02      3  0.0  3.5  3.5  3.5  3.5  3.5  0.0
15       MAGALU TARDE 01      3  5.5  5.5  5.5  5.5  5.5  5.5  0.0

In [4]:
motorista = list(motoristas['MOTORISTAS'])
carga = {}
print(motorista)

folga = ['WANDERLAN', 'VALDECI', 'EDIVALDO']

import random
for i in range(1, 8):
    for indice, dado in enumerate(df[i]):
        if df[i][indice] > 0:
            
            valor = float(df[i][indice])
            df[i][indice] = random.choice(motorista)
            motora = df[i][indice]
            
            if motora not in carga:
                carga[motora] = []
                carga[motora]= valor
            else:
                total = carga[motora]
                total += valor
                carga[motora] = total
            
            if carga[motora] > 11:
                total = carga[motora]
                total -= valor
                carga[motora] = total
                
                df[i][indice] = random.choice(motorista)
                motora = df[i][indice]
                if motora not in carga:
                    carga[motora] = []
                    carga[motora]= valor
                else:
                    total = carga[motora]
                    total += valor
                    carga[motora] = total
                    
                    if carga[motora] > 21:
                        total = carga[motora]
                        total -= valor
                        carga[motora] = total

                        df[i][indice] = random.choice(motorista)
                        motora = df[i][indice]
                        if motora not in carga:
                            carga[motora] = []
                            carga[motora]= valor
                        else:
                            total = carga[motora]
                            total += valor
                            carga[motora] = total
                            
                            if carga[motora] > 32:
                                total = carga[motora]
                                total -= valor
                                carga[motora] = total

                                df[i][indice] = random.choice(motorista)
                                motora = df[i][indice]
                                if motora not in carga:
                                    carga[motora] = []
                                    carga[motora]= valor
                                else:
                                    total = carga[motora]
                                    total += valor
                                    carga[motora] = total
                                    
                                    if carga[motora] > 38:
                                        total = carga[motora]
                                        total -= valor
                                        carga[motora] = total

                                        df[i][indice] = random.choice(motorista)
                                        motora = df[i][indice]
                                        if motora not in carga:
                                            carga[motora] = []
                                            carga[motora]= valor
                                        else:
                                            total = carga[motora]
                                            total += valor
                                            carga[motora] = total
                                            
                                            if carga[motora] > 44:
                                                total = carga[motora]
                                                total -= valor
                                                carga[motora] = total

                                                df[i][indice] = random.choice(motorista)
                                                motora = df[i][indice]
                                                if motora not in carga:
                                                    carga[motora] = []
                                                    carga[motora]= valor
                                                else:
                                                    total = carga[motora]
                                                    total += valor
                                                    carga[motora] = total
            
print(carga)       
print(df)

['MAICON', 'JACKSON', 'WANDERLAN', 'RAULINO', 'VALDECI', 'FERNANDO', 'EDIVALDO', 'WELISSON', 'JEFERSON', 'PAULO', 'GESSIVALDO', 'LUIZ GONZAGA', 'KELSON']
{'KELSON': 24.5, 'JACKSON': 32.5, 'WANDERLAN': 39.5, 'LUIZ GONZAGA': 34.5, 'VALDECI': 42.5, 'FERNANDO': 48.0, 'GESSIVALDO': 39.5, 'EDIVALDO': 40.5, 'MAICON': 41.5, 'WELISSON': 36.0, 'JEFERSON': 35.5, 'RAULINO': 30.5, 'PAULO': 37.5}
                   ROTAS  TURNO             1           2             3  \
0           ALMA VIVA 01      1        KELSON    FERNANDO    GESSIVALDO
1           ALMA VIVA 02      1        KELSON   WANDERLAN        MAICON
2           ALMA VIVA 03      1       JACKSON    FERNANDO         PAULO
3           ALMA VIVA 04      1     WANDERLAN    WELISSON       JACKSON
4           ALMA VIVA 05      1  LUIZ GONZAGA   WANDERLAN      JEFERSON
5           ALMA VIVA 06      1       VALDECI    WELISSON    GESSIVALDO
6           ALMA VIVA 07      1  LUIZ GONZAGA    JEFERSON       VALDECI
7   CROWN TURNO MANHÃ 01      2      FERNANDO     RAULINO       RAULINO
8   CROWN TURNO MANHÃ 02      2       VALDECI    EDIVALDO       RAULINO
9     CROWN ADM MANHÃ 01      2    GESSIVALDO  GESSIVALDO    GESSIVALDO
10    CROWN ADM MANHÃ 02      2      EDIVALDO    WELISSON       VALDECI
11  CROWN TURNO TARDE 01      3             0     RAULINO        MAICON
12  CROWN TURNO TARDE 02      3             0       PAULO        KELSON
13    CROWN ADM TARDE 01      3             0      KELSON      WELISSON
14    CROWN ADM TARDE 02      3             0    EDIVALDO  LUIZ GONZAGA
15       MAGALU TARDE 01      3        MAICON       PAULO         PAULO

               4           5             6          7
0   LUIZ GONZAGA  GESSIVALDO      JEFERSON  WANDERLAN
1          PAULO     JACKSON       RAULINO    VALDECI
2         MAICON  GESSIVALDO         PAULO     MAICON
3       JEFERSON     VALDECI    GESSIVALDO   WELISSON
4        JACKSON    EDIVALDO        KELSON     MAICON
5          PAULO    EDIVALDO       RAULINO   FERNANDO
6   LUIZ GONZAGA     VALDECI  LUIZ GONZAGA    JACKSON
7       JEFERSON    JEFERSON       JACKSON   WELISSON
8       FERNANDO    FERNANDO        MAICON   FERNANDO
9       FERNANDO    FERNANDO             0          0
10     WANDERLAN  GESSIVALDO             0          0
11      EDIVALDO      MAICON     WANDERLAN          0
12     WANDERLAN    EDIVALDO      WELISSON          0
13      EDIVALDO    WELISSON      JEFERSON          0
14  LUIZ GONZAGA     VALDECI       VALDECI          0
15     WANDERLAN    FERNANDO      EDIVALDO          0

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
print(carga)

{'KELSON': 24.5, 'JACKSON': 32.5, 'WANDERLAN': 39.5, 'LUIZ GONZAGA': 34.5, 'VALDECI': 42.5, 'FERNANDO': 48.0, 'GESSIVALDO': 39.5, 'EDIVALDO': 40.5, 'MAICON': 41.5, 'WELISSON': 36.0, 'JEFERSON': 35.5, 'RAULINO': 30.5, 'PAULO': 37.5}

In [6]:
for k, v in enumerate(carga):
    print(k, v)

for each in carga:
    print(carga[each])

0 KELSON
1 JACKSON
2 WANDERLAN
3 LUIZ GONZAGA
4 VALDECI
5 FERNANDO
6 GESSIVALDO
7 EDIVALDO
8 MAICON
9 WELISSON
10 JEFERSON
11 RAULINO
12 PAULO
24.5
32.5
39.5
34.5
42.5
48.0
39.5
40.5
41.5
36.0
35.5
30.5
37.5