In [1]:
import pandas as pd
import numpy as np
import datetime as dt
now = dt.datetime.now() # current date and time
data = now.strftime("%Y_%m_%d")

In [2]:
usuarios_presença = pd.read_excel('lista de embarques.xlsx')

In [3]:
usuarios_presença = usuarios_presença.rename(columns={"Matrícula": "matricula"})
matriculas_validas = usuarios_presença['matricula'].dropna()

matriculas_validas_unicas = matriculas_validas.unique()
len(matriculas_validas), len(matriculas_validas_unicas)

(3121, 343)

In [4]:
usuarios_mat_val = usuarios_presença[usuarios_presença['matricula'].isin(matriculas_validas)]

In [5]:
presença = usuarios_mat_val['matricula'].value_counts(sort=False)
presença = pd.DataFrame(presença)
presença

          matricula
237581.0         11
197646.0         11
197647.0          6
247694.0         10
243731.0         14
...             ...
247791.0          9
247701.0          4
124924.0         15
184317.0          2
197631.0         11

[343 rows x 1 columns]

In [6]:
presença = presença.rename(columns= {'matricula':'presença'})

In [7]:
def label(element):
    if element >= 3:
        return 'ATIVO'
    else:
        return 'INATIVO'
presença['status_fretado'] = presença['presença'].apply(label)

In [8]:
usuarios_ativos = presença[presença['status_fretado'] == 'ATIVO']
usuarios_ativos['matricula'] = usuarios_ativos.index.astype(int)
usuarios_inativos = presença[presença['status_fretado'] == 'INATIVO']
usuarios_inativos['matricula'] = usuarios_inativos.index.astype(int)
usuarios_ativos = usuarios_ativos.reset_index(drop=True)
usuarios_inativos = usuarios_inativos.reset_index(drop=True)
print('Ativos:',len(usuarios_ativos), '\nInativos:',len(usuarios_inativos))

Ativos: 284
Inativos: 59

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
titulo1 = data + '_usuarios_ativos.xlsx'
usuarios_ativos.to_excel(titulo1)

In [10]:
titulo2 = data + '_usuarios_inativos.xlsx'
usuarios_inativos.to_excel(titulo2)

In [11]:
total = pd.concat([usuarios_ativos, usuarios_inativos], ignore_index=True)

In [12]:
usuarios_presença

,Rota,Passageiro,matricula,Data,Embarque,Desembarque,Minutos Embarcado
0,COLETA 02 IDA,EMILLY DE LIMA,220808.0,01/03/2020,22:14,23:34,81.0
1,COLETA 02 IDA,PEDRO CARDEC SANTOS,197585.0,01/03/2020,22:26,23:34,69.0
2,COLETA 02 IDA,JOAQUIM NONATO MENDES SOBRINHO,101914.0,01/03/2020,22:36,23:34,58.0
3,COLETA 02 IDA,MARIA EDUARDA SILVA FERREIRA,242238.0,01/03/2020,22:43,NaN,NaN
4,COLETA 02 IDA,THAMIRES RAYANNE DE SOUSA,139888.0,01/03/2020,23:02,23:35,32.0
...,...,...,...,...,...,...,...
3130,INTEGRAÇÃO - 1:50 02:00 - CENTRO/TIMON VOLTA,PEDRO MARCUS DE ASSIS FURTADO LIMA,222638.0,19/03/2020,NaN,NaN,NaN
3131,INTEGRAÇÃO - 1:50 02:00 - CENTRO/TIMON VOLTA,LARISSA ROCHA SANTOS,184022.0,19/03/2020,NaN,NaN,NaN
3132,SÃO PEDRO 02:00 CENTRO/SUDESTE VOLTA,ISA FABIAN DE SOUSA ARAUJO,247695.0,19/03/2020,NaN,NaN,36.0
3133,SÃO PEDRO 02:00 CENTRO/SUDESTE VOLTA,RENATO BRUNO DE SOUSA ARAUJO,237266.0,19/03/2020,NaN,NaN,8.0
3134,SÃO PEDRO 02:00 CENTRO/SUDESTE VOLTA,VALDONE VIEIRA BEZERRA,237271.0,19/03/2020,NaN,NaN,20.0