In [1]:
import pandas as pd

In [2]:
diurno = pd.read_excel('CONTIGENCIA E FRETADO 10 e 12.04.2020.xlsx', sheet_name='contig 10')
rotas_bairros = pd.read_excel('rotas_final.xlsx')

In [3]:
diurno = diurno.set_index('RH')
norte = rotas_bairros['NORTE']
sul = rotas_bairros['SUL']
leste = rotas_bairros['LESTE']
centro = rotas_bairros['CENTRO']
sdb = rotas_bairros['SDB']
sdc = rotas_bairros['SDC']
todos = rotas_bairros['TODAS']

In [4]:
diurno['ENTRADA'] = diurno['ENTRADA'].astype(str).str.replace(':', '').str.replace('-','').str.replace('19000101 ', '').str.strip().astype(int)
diurno['SAÍDA'] = diurno['SAÍDA'].astype(str).str.replace(':', '').str.replace('-','').str.replace('19000101 ', '').str.strip().astype(int)

In [5]:
diurno_sem_rota = diurno[(~diurno['Bairro'].isin(todos)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_norte = diurno[(diurno['Bairro'].isin(norte)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_sul = diurno[(diurno['Bairro'].isin(sul)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_leste = diurno[(diurno['Bairro'].isin(leste)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_centro = diurno[(diurno['Bairro'].isin(centro)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_sdb = diurno[(diurno['Bairro'].isin(sdb)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_sdc = diurno[(diurno['Bairro'].isin(sdc)) & (diurno['Cidade'] == 'Teresina')]
diurno_rota_timon = diurno[diurno['Cidade'] == 'Timon']

In [6]:
diurno_rota_leste

,OPERADOR,ENTRADA,SAÍDA,operação,Site,Rua,N,Bairro,Cidade
RH,,,,,,,,,
81782,ANDERSON DE SOUSA MOTA,170000,231000,FRETADO,Dirceu,RUA CEARA,2266,FATIMA,Teresina
139995,PABLO DA SILVA CRUZ,164000,225000,FRETADO,Dirceu,RUA INDIANA,3109,VALE QUEM TEM,Teresina

In [7]:
len(diurno_sem_rota),len(diurno_rota_norte),len(diurno_rota_sul),len(diurno_rota_leste),len(diurno_rota_centro),len(diurno_rota_sdb),len(diurno_rota_sdc),len(diurno_rota_timon)

(0, 10, 13, 2, 13, 5, 4, 0)

In [8]:
print(diurno_rota_sul['ENTRADA'].value_counts())
diurno_rota_sul_01 = diurno_rota_sul[(diurno_rota_sul['ENTRADA'] >= 150000) & (diurno_rota_sul['ENTRADA'] <= 170000)]
diurno_rota_sul_02 = diurno_rota_sul[(diurno_rota_sul['ENTRADA'] > 170000) & (diurno_rota_sul['ENTRADA'] <= 175000)]
diurno_rota_sul_03 = diurno_rota_sul[(diurno_rota_sul['ENTRADA'] > 175000) & (diurno_rota_sul['ENTRADA'] <= 190000)]
print(len(diurno_rota_sul_01), len(diurno_rota_sul_02), len(diurno_rota_sul_03))

diurno_rota_sul = pd.ExcelWriter('diurno_rota_sul.xlsx', engine='xlsxwriter')

diurno_rota_sul_01.to_excel(diurno_rota_sul, sheet_name='diurno_rota_sul_01')
diurno_rota_sul_02.to_excel(diurno_rota_sul, sheet_name='diurno_rota_sul_02')
diurno_rota_sul_03.to_excel(diurno_rota_sul, sheet_name='diurno_rota_sul_03')

diurno_rota_sul.save()

174000    4
164000    3
175000    1
143000    1
174500    1
170000    1
173000    1
190000    1
Name: ENTRADA, dtype: int64
4 7 1

In [9]:
print(diurno_rota_norte['ENTRADA'].value_counts())
diurno_rota_norte_01 = diurno_rota_norte[(diurno_rota_norte['ENTRADA'] >= 150000) & (diurno_rota_norte['ENTRADA'] <= 170000)]
diurno_rota_norte_02 = diurno_rota_norte[(diurno_rota_norte['ENTRADA'] > 170000) & (diurno_rota_norte['ENTRADA'] <= 174500)]
diurno_rota_norte_03 = diurno_rota_norte[(diurno_rota_norte['ENTRADA'] > 174500) & (diurno_rota_norte['ENTRADA'] <= 194500)]
print(len(diurno_rota_norte_01),len(diurno_rota_norte_02),len(diurno_rota_norte_03))

diurno_rota_norte = pd.ExcelWriter('diurno_rota_norte.xlsx', engine='xlsxwriter')

diurno_rota_norte_01.to_excel(diurno_rota_norte, sheet_name='diurno_rota_norte_01')
diurno_rota_norte_02.to_excel(diurno_rota_norte, sheet_name='diurno_rota_norte_02')
diurno_rota_norte_03.to_excel(diurno_rota_norte, sheet_name='diurno_rota_norte_03')

diurno_rota_norte.save()

174000    3
171000    2
164000    2
165000    1
190000    1
170000    1
Name: ENTRADA, dtype: int64
4 5 1

In [10]:

diurno_rota_leste_01 = diurno_rota_leste[(diurno_rota_leste['ENTRADA'] >= 150000) & (diurno_rota_leste['ENTRADA'] <= 170000)]
diurno_rota_centro_01 = diurno_rota_centro[(diurno_rota_centro['ENTRADA'] >= 150000) & (diurno_rota_centro['ENTRADA'] <= 170000)]
diurno_rota_centro_leste_01 = pd.concat([diurno_rota_leste_01, diurno_rota_centro_01])
print(len(diurno_rota_centro_leste_01))
diurno_rota_centro_leste = pd.ExcelWriter('diurno_rota_centro_leste.xlsx', engine='xlsxwriter')

diurno_rota_centro_leste_01.to_excel(diurno_rota_centro_leste, sheet_name='diurno_rota_centro_leste_01')

diurno_rota_centro_leste.save()

9

In [11]:
print(diurno_rota_centro['ENTRADA'].value_counts())

diurno_rota_centro_02 = diurno_rota_centro[(diurno_rota_centro['ENTRADA'] > 170000) & (diurno_rota_centro['ENTRADA'] <= 174500)]
print(len(diurno_rota_centro_02))

diurno_rota_centro = pd.ExcelWriter('diurno_rota_centro.xlsx', engine='xlsxwriter')

diurno_rota_centro_02.to_excel(diurno_rota_centro_leste, sheet_name='diurno_rota_centro_02')

diurno_rota_centro.save()

164000    5
174000    4
165000    1
174500    1
170000    1
190000    1
Name: ENTRADA, dtype: int64
5

In [12]:
print(diurno_rota_sdb['ENTRADA'].value_counts())
diurno_rota_sdb_01 = diurno_rota_sdb[(diurno_rota_sdb['ENTRADA'] >= 150000) & (diurno_rota_sdb['ENTRADA'] <= 175000)]

170000    1
164000    1
174500    1
175000    1
165000    1
Name: ENTRADA, dtype: int64
5

In [13]:
print(diurno_rota_sdc['ENTRADA'].value_counts())
diurno_rota_sdc_01 = diurno_rota_sdc[(diurno_rota_sdc['ENTRADA'] >= 150000) & (diurno_rota_sdc['ENTRADA'] <= 180000)]

164000    2
180000    1
173000    1
Name: ENTRADA, dtype: int64
4

In [14]:
diurno_rota_sudeste_01 = pd.concat([diurno_rota_sdb_01, diurno_rota_sdc_01])
print(len(diurno_rota_sudeste_01))
diurno_rota_sudeste = pd.ExcelWriter('diurno_rota_sudeste.xlsx', engine='xlsxwriter')

diurno_rota_sudeste_01.to_excel(diurno_rota_sudeste, sheet_name='diurno_rota_sudeste_01')

diurno_rota_sudeste.save()

9