In [1]:
import pandas as pd
from datetime import date
import random
from decimal import Decimal
from math import isnan

In [2]:
motoristas = pd.read_excel('motoristas.xlsx')
folga = pd.read_excel('folga_semanal.xlsx')

df = pd.read_excel('rotas escalas1.xlsx', sheet_name='Plan1')
veiculos = pd.read_excel('rotas escalas1.xlsx', sheet_name='Plan2')

df_1 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Domingo']]
df_2 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Segunda-feira']]
df_3 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Terça-feira']]
df_4 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Quarta-feira']]
df_5 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Quinta-feira']]
df_6 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Sexta-feira']]
df_7 = df[['ROTAS', 'TURNO', 'VEÍCULO', 'Sábado']]

motoristas = list(motoristas['MOTORISTAS'])

carga = {}

In [3]:
veiculos = veiculos.to_dict('list')
import simplejson
veiculos  = simplejson.loads(simplejson.dumps(veiculos, ignore_nan=True)) 
for l in veiculos.values():
    
    if 0 in l: l.remove(0)    
    for l in veiculos.values():
        if 0 in l: l.remove(0)

print(veiculos)

{'Ducato 1': ['VALDECI', 'PAULO HENRIQUE', 'JEFERSON'], 'Ducato 2': ['JACKSON', 'RAULINO', 'EDVALDO', 'JEFERSON'], 'Jumpy': ['PAULO HENRIQUE', 'ADONIRAN', 'WELISON'], 'QNB 5540 ': ['JEFERSON', 'WELISON', 'PAULO HENRIQUE'], 'QNK 7462': ['JEFERSON', 'WELISON', 'VALDECI'], 'Mercedes ': ['RAULINO', 'JACKSON', 'ADONIRAN'], 'Lalita': ['LEONARDO']}

In [4]:
import numpy as np
def setdiff_sorted(array1,array2,assume_unique=False):
    ans = np.setdiff1d(array1,array2,assume_unique).tolist()
    if assume_unique:
        return sorted(ans)
    return ans

def common_elements(list1, list2):
    result = []
    for element in list1:
        if element in list2:
            result.append(element)
    return result

In [5]:
for each in motoristas:
    carga[each] = 0
carga

{'MAICON': 0,
 'JACKSON': 0,
 'WANDERLAN': 0,
 'RAULINO': 0,
 'VALDECI': 0,
 'FERNANDO': 0,
 'EDVALDO': 0,
 'WELISON': 0,
 'JEFERSON': 0,
 'PAULO': 0,
 'GESSIVALDO': 0,
 'LUIZ GONZAGA': 0,
 'KELSON': 0,
 'PAULO HENRIQUE': 0,
 'ADONIRAN': 0}

In [6]:
for indice, dado in enumerate(df_1['Domingo']):
    print(type(df_1['Domingo'][indice]) == float)

True
True
True
True
True
True
False
False
False
False
False
False
True

In [7]:
veiculos

{'Ducato 1': ['VALDECI', 'PAULO HENRIQUE', 'JEFERSON'],
 'Ducato 2': ['JACKSON', 'RAULINO', 'EDVALDO', 'JEFERSON'],
 'Jumpy': ['PAULO HENRIQUE', 'ADONIRAN', 'WELISON'],
 'QNB 5540 ': ['JEFERSON', 'WELISON', 'PAULO HENRIQUE'],
 'QNK 7462': ['JEFERSON', 'WELISON', 'VALDECI'],
 'Mercedes ': ['RAULINO', 'JACKSON', 'ADONIRAN'],
 'Lalita': ['LEONARDO']}

In [8]:
# ESCOLHER MOTORISTA VALOR MINIMO DA CARGA

In [9]:
def segunda()
    segunda_n = []
    segunda_m = []
    segunda_t = []
    folga_segunda = list(folga['SEGUNDA'])

    for indice, dado in enumerate(df_2['Segunda-feira']):

        if type(df_2['Segunda-feira'][indice]) != str:

            valor = float(df['Segunda-feira'][indice])
            turno = df['TURNO'][indice]
            carro = df['VEÍCULO'][indice]
            cliente = df['ROTAS'][indice]
            motoristas = list(veiculos[carro])
            motoristas_segunda = setdiff_sorted(motoristas, folga_segunda)
            if turno == 'noite':

                    motora = df_2['Segunda-feira'][indice] = random.choice(setdiff_sorted(motoristas_segunda, segunda_n))
                    segunda_n.append(motora)

                    total = carga[motora]
                    total += valor
                    carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
carga

{'MAICON': 0,
 'JACKSON': 5.5,
 'WANDERLAN': 0,
 'RAULINO': 5.5,
 'VALDECI': 5.5,
 'FERNANDO': 0,
 'EDVALDO': 0,
 'WELISON': 5.5,
 'JEFERSON': 5.5,
 'PAULO': 0,
 'GESSIVALDO': 0,
 'LUIZ GONZAGA': 0,
 'KELSON': 0,
 'PAULO HENRIQUE': 0,
 'ADONIRAN': 5.5}

In [11]:
df_2

                   ROTAS  TURNO    VEÍCULO Segunda-feira
0           ALMA VIVA 01  noite   Ducato 1      JEFERSON
1           ALMA VIVA 02  noite   Ducato 2       JACKSON
2           ALMA VIVA 03  noite      Jumpy      ADONIRAN
3           ALMA VIVA 04  noite  QNB 5540        WELISON
4           ALMA VIVA 05  noite   QNK 7462       VALDECI
5           ALMA VIVA 06  noite  Mercedes        RAULINO
6   CROWN TURNO MANHÃ 01  manhã   Ducato 1             5
7   CROWN TURNO MANHÃ 02  manhã   Ducato 2             5
8     CROWN ADM MANHÃ 01  manhã  Mercedes              3
9   CROWN TURNO TARDE 01  tarde   Ducato 1           4.5
10  CROWN TURNO TARDE 02  tarde   Ducato 2           4.5
11    CROWN ADM TARDE 01  tarde  Mercedes            3.5
12       MAGALU TARDE 01  tarde      Jumpy           5.5

In [12]:
terça_n = []
terça_m = []
terça_t = []
folga_terça = list(folga['TERÇA'])
    
for indice, dado in enumerate(df_3['Terça-feira']):

    if type(df_3['Terça-feira'][indice]) != str:

        valor = float(df_3['Terça-feira'][indice])
        turno = df_3['TURNO'][indice]
        carro = df_3['VEÍCULO'][indice]
        cliente = df_3['ROTAS'][indice]
        motoristas = list(veiculos[carro])
        motoristas_terça = setdiff_sorted(motoristas, folga_terça)
        if turno == 'noite':

                motora = df_3['Terça-feira'][indice] = random.choice(setdiff_sorted(motoristas_terça, terça_n))
                terça_n.append(motora)

                total = carga[motora]
                total += valor
                carga[motora] = total

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\pandas\core\series.py:1024: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

IndexError: Cannot choose from an empty sequence

In [ ]:
carga

In [ ]:
df_3